* {
  box-sizing: border-box;
}

body {
 background-image: url('../img/fishwallpaper.jpg');
 background-repeat: no-repeat;
 background-size: 67%;
 background-position-x: center;
 background-color: rgb(207, 224, 224);  
 margin: 0 auto;
 font-family: 'Kanit', sans-serif;
 color: rgb(201, 31, 12);
 font-size: 25px;
 text-align: center;
 }
h1 {
  font-size: 110px;
  text-align: center;
  padding-top: 40px;
  
}
nav {
 background-color: rgb(201, 31, 12);
 /* background-image: url('../img/salmon.png'); */
 background-size: 60px;

 /* background-repeat: no-repeat; */
 /* padding-top: 10px;   */
}
h2 {
  font-size: 50px;
  padding: 50px;
}


header {
  height: 170px;
  background-image: url('../img/waveBackground.jpeg');
  /* background-repeat: no-repeat; */
  background-size: 50%;
}
footer {
  background-color: rgb(201, 31, 12);
  /* background-image: url('../img/salmon.png');  */
  background-size: 60px;
}

