* {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  /* color: rgb(201, 31, 12); */
}
html, body {
  overflow: auto;
}
header {
  height: 220px;
  /* background-image: url('../img/salmon.png'); */
  background-image: url('../img/waveBackground.jpeg');
  
  /* background-repeat: no-repeat; */
  background-size: 50%;
  color: rgb(201, 31, 12);
  border-top: rgb(201, 31, 12) 40px;
}
nav  {
  font-size: 25px;
  color: rgb(99, 99, 235);
  display:flex;
  justify-content: space-evenly; 
  background-color: rgb(201, 31, 12);
  background-size: 60px;
  height: 40px;
  padding-top: 10px;
}
 

body {
  overflow:auto; 
  /* width: 100%; */
  background-image: url('../img/free-japanese-fan-wallpapers.jpeg'); 
  /* background-color: rgb(207, 224, 224);  */
  height: 3000px;
}

.logo {
  width: 450px;
  /* height: 150px; */
  /* margin-top: 20px;
} */
}
#BigWave {
  background-image: url('../img/BigWave.jpg');
  background-repeat: no-repeat;
  height: 700px;
  background-size: 100%;
  
  border: rgb(201, 31, 12), 10px;
}

h1 {
  display: flex;
  justify-content: center;

  
  font-family: 'Kanit', sans-serif;
  font-size: 110px;
  text-align: center;
  padding-top: 60px;
}
#smallwave {
  background-image: url('../img/waveBackground.jpeg');
  margin-top: 200px;
  /* background-repeat: no-repeat; */
  background-size: 150%;
  height: 700px;
}
.Story {
  /* width: 700px; */
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  color: rgb(201, 31, 12);
  margin-top: 50px;

}

h2 {
  /* background-image: url('../img/salmon.png'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  font-size: 70px;
  padding: 20px;
   
  text-align: center;
}
h3 {
  background-position: center;
  background-size: 25%;
  font-size: 70px;
  padding-top: 50px;

}
p {
  padding-top: 30px;
  padding-left: 110px;
  padding-right: 110px;
  text-align: left;
}
div {
  font-family: 'Kanit', sans-serif;
  color: rgb(201, 31, 12);
  font-size: 25px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}



footer {
  display:flex;
  align-items: flex-end;
  justify-content: space-evenly;
  background-color: rgb(201, 31, 12);
  font-size: 25px;
  color: rgb(168, 227, 237);
  /* height: 30px; */
  
}



table {
  color: white;
  font-size: 20px;
  background-color: rgb(160, 131, 97);
}














/* table */
#storeList {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#storeList td, #storeList th {
  border: 3px solid #ddd;
  padding: 20px;
}

#storeList tr:nth-child(even){background-color:rgb(201, 31, 12);}
#storelist tr:nth-child(odd){background-color:rgb(168, 122, 84);}

#storeList tr:hover {background-color: rgb(209, 78, 45);}

#storeList th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: left;
  background-color: #0476aa;
  color: white;
}



/* sales page nav */



/* .navStyle li {
  display: inline;
  
} */